:host {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 350px;
  margin-left: -(250px / 2);
  margin-top: -(350px / 2);
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;

  transform-style: preserve-3d;
  transition: transform 1s;

  &.is-flipped {
    transform: rotateY(180deg) !important;
    z-index: 53 !important;
  }
}

.face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
  transform: rotateY(180deg);

  h2 {
    margin-top: 0;
  }
  .left {
    align-self: flex-start;
    margin-left: 5px;
    margin-top: 5px;
  }
  .center {
    align-self: center;
    flex-grow: 1;
  }
  .right {
    align-self: flex-end;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}
