rof-card {
  $item-count: 52;
  $angle: (360 / 52);
  $rot: 0;

  @for $i from 1 through $item-count {
    &:nth-of-type(#{$i}) {
      transform: rotate($rot * 1deg) translate(35em) rotate($rot * -45deg);
      z-index: $i;
    }

    $rot: $rot + $angle;
  }
}
